#count{
    margin-left: 5px;
}
#label:hover .tooltip{
    display: block;
}

.tooltip{
    position: absolute;
    height: 30px;
    background-color:#E0E0E0;
    left: -150px;
    text-align: center;
    display: flex;
    align-items: center;
    top: -30px;
    display: none;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E0E0E0 transparent transparent transparent;
  }